:root {
    --ColorBody: #1a1a2e;
    --bodyTextColor: #eaeaea;
    --HoverColor: #c7c720;
    --brightYellow: #ffdc3e;
    --sectionh1: rgb(216, 181, 27);
    --FormBgColor: #162447;
    --cardButton: #007bff;
    --navColor: #f5deb3;
    --shadow: #0e0925;
    --cardbttonhvr: #0056b3;
    --NavbarBgColor: #0f3460;
    --FooterBgColor: #0f3460;
    --SkillGradientStart: #1f4068;
    --SkillGradientEnd: #162447;
    --menuHover: rgb(34, 34, 128);
    --webkitBg: #1a1719;
    --FontFamily: 'Raleway', sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    color: var(--bodyTextColor);
    background-color: var(--ColorBody);
    font-family: var(--FontFamily);
    display: grid;
    place-items: center;
    overflow-x: hidden;
    margin: 0;
    z-index: 4;
    padding: 0;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: var(--webkitBg); 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--HoverColor); 
    border-radius: 10px;
}

header {
    z-index: 2;
    background-color: var(--ColorBody);
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    justify-content: space-between;
    top: 0;
    box-shadow: 3px 3px 9px var(--shadow);
    padding: 10px 0;
}

.contents-one a{
    text-decoration: none;
    color: var(--bodyTextColor);
}

.contents-one {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 65%;
}

.contents-one > a > h3 {
    padding-left: 1rem;
    min-width: 125px;
    color: var(--brightYellow);
}

.contents-one > a > h3 > .point {
    background-color: var(--brightYellow);
    display: inline-block;
    height: 6px;
    width: 6px;
    border-radius: 50%;
}

.line {
    width: 1px;
    height: 20px;
    background-color: var(--bodyTextColor);
    margin: 10px;
}

.navs {
    padding: 0;
    width: 45%;
    display: flex;
    gap: 25px;
    color: var(--navColor);
}

.navs > a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s;
}

.navs a:hover,
.icons a:hover {
    color: var(--brightYellow);
    cursor: pointer;
}

.icons {
    width: 15%;
    display: flex;
    justify-content: space-evenly;
    gap: 5px;
}

.icons a {
    color: var(--navColor);
    font-size: 25px;
}

.sections {
    padding-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.sections h1 {
    font-size: 48px;
    font-weight: 650;
    margin-bottom: 20px;
    color: var(--sectionh1);
}

.coma {
    color: var(--brightYellow);
    font-size: 30px;
}

#home {
    height: 100vh;
    padding: 70px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.text {
    height: 20%;
}

.text h3 {
    font-size: 35px;
    margin: -30px 0;
}

.auto {
    margin: 30px 0;
    font-size: 37px;
    font-weight: 200;
    font-style: italic;
}

#img {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 0 10px var(--shadow);
    transition: transform 0.3s ease;
    overflow: hidden;
}

#img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


.skill-section, .service-section {
    flex-direction: column;
    text-align: center;
}

.skills {
    gap: 100px;
}

.skills i {
    height: 100px;
    width: 100px;
    font-size: 100px;
    background: linear-gradient(to right, var(--SkillGradientStart), var(--SkillGradientEnd));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.skills i:hover {
    background: linear-gradient(to right, var(--SkillGradientEnd), var(--SkillGradientStart));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: brightness(1.2);
    transform: scale(1.1);
}
.card-container {
    display: flex;
    gap: 20px;  
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background-color: var(--FormBgColor);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
    transition: transform 0.2s;
}

.card:hover {
    transform: translateY(-10px); 
}

.card-title {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: var(--bodyTextColor);
}

.card-description {
    font-size: 1em;
    color: var(--bodyTextColor);
    margin-bottom: 20px;
}

.card-button {
    background-color: var(--cardButton);
    color: var(--bodyTextColor);
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
}

.card-button:hover {
    background-color: var(--cardbttonhvr);
}

.container {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.container > div {
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    background-color: var(--FormBgColor);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.container > div:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.message-container {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--FormBgColor);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.message-container > p {
    margin: 20px 0;
    font-weight: 300;
    letter-spacing: .14px;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form input,
.contact-form textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    background-color: var(--ColorBody);
    border-radius: 5px;
    font-size: 16px;
    color: var(--bodyTextColor);
}

.contact-form button {
    padding: 10px;
    border: none;
    background-color: var(--cardbttonhvr);
    color: var(--bodyTextColor);
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.contact-form button:active {
    background-color: var(--cardButton);
}


.social-links {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.social-links a {
    color: var(--cardButton);
    font-size: 24px;
    text-decoration: none;
    transition: color 0.3s;
}

.social-links a:hover {
    color: var(--brightYellow);
}

footer {
    background-color: var(--FooterBgColor);
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 50px;
    width: 100%;
    z-index: 9;
    bottom: 0;
}
 
footer .back-to-top {
    color: var(--brightYellow);
    text-decoration: none;
    transition: transform 0.3s;
}

footer .back-to-top:hover {
    transform: scale(1.3);
}

@keyframes moveSkills {
    0% { 
        transform: translateX(0); 
    }
    33% { 
        transform: translateX(-130px); 
    }
    66% { 
        transform: translateX(calc(100vw - 1230px)); 
    }
    100% {
        transform: translateX(0);
    }
}

.burger {
    visibility: hidden;
}

@media (max-width: 650px) {
    .sections h1 {
        font-size: 32px;
    }

    .text h3,
    .text h4 {
        font-size: 24px;
    }

    .navs, .contents-one h3, .line {
        display: none;
    }

    .burger {
        visibility: visible;
        display: block;
        margin: 10px;
    }

    .menu {
        display: none;
        position: absolute;
        background-color: var(--FormBgColor);
        border-radius: 5px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        overflow: hidden;
        top: 38px;
        width: 100px;
    }

    .menu a {
        display: block;
        padding: 5px;
        text-decoration: none;
        color: var(--HoverColor);
    }

    .menu a:hover {
        background-color: var(--menuHover);
    }

    #home {
        margin-top: 30px;
        flex-direction: column;
        gap: 35px;
    }
}

@media (min-width: 768px) {
    .skills {
        gap: 150px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        animation: moveSkills 9s linear infinite;
    }
}