:root {
    --ColorBody: #0b031b;
    --bodyTExtColor: #fff;
    --HoverColor: #1cda1c;
    box-sizing: border-box;
}

body {
    scroll-behavior: smooth;
    color: var(--bodyTExtColor);
    background-color: var(--ColorBody);
    display: grid;
    place-items: center;
    width: 100vw;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar {
    width: 10px;
}


::-webkit-scrollbar-track {
    background: rgb(26, 23, 25); 
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #1cda1c; 
    border-radius: 10px;
}


::-webkit-scrollbar-thumb:hover {
    background: #3ba047; 
}

.contents-one > h3 {
    padding-left: 1rem;
    min-width: 125px;
}

.contents-one > h3 > span {
    color: rgb(14, 248, 14);
    font-size: 19px;
}

header {
    z-index: 2;
    background-color: var(--ColorBody);
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    justify-content: space-between;
    top: 0;
    box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.3);
}

.contents-one {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 85%;
}

.line {
    width: 1px;
    height: 20px;
    background-color: #ffffff;
    margin: 10px;
}

.navs{
    padding: 0;
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.navs a:hover, .icons a:hover{
    color: var(--HoverColor);
    cursor: pointer;
}

.navs > a{
    text-decoration: none;
    color: inherit;
}



.icons {
    width: 15%;
    display: flex;
    justify-content: space-evenly;
    gap: 5px;
}

.icons a {
    color: var(--bodyTExtColor);
    font-size: 25px;
}

.sections {
    padding-top: 50px;
    display: flex;
    align-items: center;
    width: 100%;
}

#home{
    height: 90vh;
    justify-content: space-evenly;
    padding: 50px;
}

.text h3, .text h4 {
    font-size: 30px;
    margin: -30px 0;
}

.sections h1 {
    font-size: 45px;
    background: linear-gradient(90deg, #ff006a, #b60b3e);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

#img {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 53%;
    border-top-right-radius: 45%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 30%;
    transform: rotate(45deg);
    background-color: #000000;
    transition: color 0.3s ease, transform 0.3s ease;
    animation: glow 1.5s infinite alternate;
}

img{
    animation: moving infinite 3s;
    z-index: 2;
}

.skill-section {
    flex-direction: column;
    text-align: center;
}

.skills {
    gap: 100px;
}

.skills i{
    height: 150px;
    width: 150px;
    font-size: 150px;
    background: linear-gradient(to right, rgb(72, 139, 86), rgb(72, 255, 0));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.skills i:hover {
    background: linear-gradient(to right, rgb(72, 255, 0), rgb(72, 139, 86));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: brightness(1.2);
}

.feedback-section {
    flex-direction: column;
}

.container {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.container > div {
    text-align: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 240px;
    background-color: #120729;
}

.contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.message-container {
    max-width: 600px;
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 50px;
    background-color: #120729;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form {
    display: flex;
    flex-direction: column;
}
.contact-form input, .contact-form textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    background-color: var(--ColorBody);
    border-radius: 5px;
    font-size: 16px;
}
.contact-form button {
    padding: 10px;
    border: none;
    background-color: #1cda1c;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}
.contact-form button:hover {
    background-color: #3bb048;
}
.social-links {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.social-links a {
    color: #4ECF57;
    font-size: 24px;
    text-decoration: none;
}
.social-links a:hover {
    color: #3bb048;
}

footer {
    background-color: #333;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 50px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
 
footer .back-to-top {
    margin: 20px 0;
    color: #4ECF57;
    text-decoration: none;
}

footer .back-to-top:hover {
    transform: scale(2.3);
}

@keyframes moving {
    0% {
        transform: scale(0.8);
        transform: rotate(-45deg);
    }
    40% {
        transform: scale(1);
        transform: rotate(-40deg);
    }
    50% {
        transform: scale(1);
        transform: rotate(-45deg);
    }
    100% {
        transform: scale(0.8);
        transform: rotate(-50deg);
    }
}

@keyframes glow {
    0% {
        box-shadow: 0 0 10px #ff2ea1, 0 0 20px #ff2ea1, 0 0 30px #ff2ea1, 0 0 40px #ff2ea1, 0 0 50px #ff2ea1, 0 0 60px #ff2ea1, 0 0 70px #ff2ea1;
    }
    100% {
        box-shadow: 0 0 20px #ff2ea1, 0 0 30px #ff2ea1, 0 0 40px #ff2ea1, 0 0 50px #ff2ea1, 0 0 60px #ff2ea1, 0 0 70px #ff2ea1, 0 0 80px #ff2ea1;
    }
}

@media (max-width: 600px) {
    #home {
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
        padding-top: 200px;
        margin-bottom: 50px;
        gap: 12rem;
    }
}

@media (max-width: 550px) {
    #home {
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
        padding-top: 200px;
        margin-bottom: 50px;
        gap: 12rem;
    }

    .text h3, .text h4 {
        font-size: 15px;
        margin: auto;
    }

    #home h1 {
        font-size: 25px;
    }
}

.burger {
    visibility: hidden;
} 

@media (max-width:650px) {
    .contents-one h3, .line, .navs {
        display: none;
    }

    .burger {
        visibility: visible;
        display: block;
        margin: 10px;
    }

    .menu {
        display: none;
        padding-top: 2px;
        position: absolute;
        background-color: #120729;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        overflow: hidden;
        top: 38px;
        width: 100px;
        height: 88px;
    }

    .menu a {
        display: block;
        padding-left: 5px;
        text-decoration: none;
        color: rgb(65, 255, 27);
        height: 22px;
    }

    .menu a:hover {
        background-color: rgb(34, 34, 128);
    }
}