:root {
    --ColorBody: #1a1a2e;
    --bodyTextColor: #eaeaea;
    --HoverColor: rgb(199, 199, 32);
    --HighlightColor: #32CD32;
    --FormBgColor: #162447;
    --NavbarBgColor: #0f3460;
    --FooterBgColor: #0f3460;
    --GradientColorStart: #ff6f61;
    --GradientColorEnd: #ff4c60;
    --SkillGradientStart: #1f4068;
    --SkillGradientEnd: #162447;
    --ThemeColor: ;
    --FontFamily: 'Raleway', sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    color: var(--bodyTextColor);
    background-color: var(--ColorBody);
    font-family: var(--FontFamily);
    display: grid;
    place-items: center;
    overflow-x: hidden;
    margin: 0;
    z-index: 4;
    padding: 0;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: rgb(26, 23, 25); 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--HoverColor); 
    border-radius: 10px;
}

header {
    z-index: 2;
    background-color: var(--ColorBody);
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    justify-content: space-between;
    top: 0;
    box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.3);
    padding: 10px 0;
}

.contents-one a{
    text-decoration: none;
    color: var(--bodyTextColor);
}

.contents-one {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 85%;
}

.contents-one > h3 {
    padding-left: 1rem;
    min-width: 125px;
    color: var(--bodyTextColor);
}

.contents-one > h3 > span {
    color: var(--HoverColor);
    font-size: 19px;
}

.line {
    width: 1px;
    height: 20px;
    background-color: var(--bodyTextColor);
    margin: 10px;
}

.navs {
    padding: 0;
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.navs > a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s;
}

.navs a:hover,
.icons a:hover {
    color: var(--HoverColor);
    cursor: pointer;
}

.icons {
    width: 15%;
    display: flex;
    justify-content: space-evenly;
    gap: 5px;
}

.icons a {
    color: var(--bodyTextColor);
    font-size: 25px;
}

.sections {
    padding-top: 80px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.sections h1 {
    font-size: 48px;
    margin-bottom: 20px;
    color: rgb(255, 220, 62);
}

#home {
    height: 100vh;
    padding: 70px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.text {
    height: 20%;
}

.text h3 {
    font-size: 35px;
    margin: -30px 0;
}

.auto {
    margin: -30px 0;
    font-size: 37px;
    font-weight: 200;
    font-style: italic;
}

#img {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 0 10px rgb(14, 9, 37);
    transition: transform 0.3s ease;
    /* animation: glow 1.5s infinite alternate; */
    overflow: hidden;
}

#img img {
    /* animation: moving infinite 90s; */
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


.skill-section {
    flex-direction: column;
    text-align: center;
}

.skills {
    gap: 100px;
}

.skills i {
    height: 100px;
    width: 100px;
    font-size: 100px;
    background: linear-gradient(to right, var(--SkillGradientStart), var(--SkillGradientEnd));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.skills i:hover {
    background: linear-gradient(to right, var(--SkillGradientEnd), var(--SkillGradientStart));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: brightness(1.2);
    transform: scale(1.1);
}

.feedback-section {
    flex-direction: column;
    text-align: center;
}

.container {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.container > div {
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    background-color: var(--FormBgColor);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.container > div:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.message-container {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--FormBgColor);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form input,
.contact-form textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    background-color: var(--ColorBody);
    border-radius: 5px;
    font-size: 16px;
    color: var(--bodyTextColor);
}

.contact-form button {
    padding: 10px;
    border: none;
    background-color: #3bb048;
    color: var(--bodyTextColor);
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.contact-form button:active {
    background-color: #27612e;
}
.social-links {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.social-links {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.social-links a {
    color: var(--HoverColor);
    font-size: 24px;
    text-decoration: none;
    transition: color 0.3s;
}

.social-links a:hover {
    color: #3bb048;
}

footer {
    background-color: var(--FooterBgColor);
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 50px;
    /* position: fixed; */
    width: 100%;
    z-index: 9;
    bottom: 0;
}
 
footer .back-to-top {
    color: var(--HoverColor);
    text-decoration: none;
    transition: transform 0.3s;
}

footer .back-to-top:hover {
    transform: scale(1.3);
}


@keyframes moving {
    0% {
        transform: scale(0.8);
    }
    40% {
        transform: scale(1);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.8);
    }
}

@keyframes glow {
    0% {
        box-shadow: 0 0 10px yellow, 0 0 20px yellow, 0 0 30px yellow, 0 0 40px yellow, 0 0 50px yellow, 0 0 60px yellow, 0 0 70px yellow;
    }
    100% {
        box-shadow: 0 0 20px yellow, 0 0 30px yellow, 0 0 40px yellow, 0 0 50px yellow, 0 0 60px yellow, 0 0 70px yellow, 0 0 80px yellow;
    }
}

@keyframes moveSkills {
    0% { 
        transform: translateX(0); 
    }
    33% { 
        transform: translateX(-130px); 
    }
    66% { 
        transform: translateX(calc(100vw - 1230px)); 
    }
    100% {
        transform: translateX(0);
    }
}

.burger {
    visibility: hidden;
}

@media (max-width: 650px) {
    .sections h1 {
        font-size: 32px;
    }

    .text h3,
    .text h4 {
        font-size: 24px;
    }

    .navs, .contents-one h3, .line {
        display: none;
    }

    .burger {
        visibility: visible;
        display: block;
        margin: 10px;
    }

    .menu {
        display: none;
        position: absolute;
        background-color: var(--FormBgColor);
        border-radius: 5px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        overflow: hidden;
        top: 38px;
        width: 100px;
    }

    .menu a {
        display: block;
        padding: 5px;
        text-decoration: none;
        color: var(--HoverColor);
    }

    .menu a:hover {
        background-color: rgb(34, 34, 128);
    }

    #home {
        flex-direction: column;
        gap: 35px;
    }
}

@media (min-width: 768px) {
    .skills {
        gap: 150px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        animation: moveSkills 9s linear infinite;
    }
}